# Django core
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# FMC site configuration
FMC_BRAND_NAME=FMC EMERGENCIAS MEDICAS
FMC_PHONE_DISPLAY=(11) 91236-9133
FMC_PHONE_DIGITS=5511912369133
FMC_ADDRESS=Sao Paulo/SP
FMC_EMAIL=atendimento@fmcemergencias.com.br
FMC_FACEBOOK_URL=https://www.facebook.com/your-page
FMC_WHATSAPP_URL=https://wa.me/5511912369133
FMC_WHATSAPP_CTA_URL=https://api.whatsapp.com/send/?phone=5511912369133&text=Ola+FMC%21+Estou+entrando+em+contato+atraves+do+site.&type=phone_number&app_absent=0
FMC_WHATSAPP_QUOTE_URL=https://api.whatsapp.com/send/?phone=5511912369133&text=Ola+FMC%21+Gostaria+de+solicitar+um+Orcamento.&type=phone_number&app_absent=0
FMC_COPYRIGHT_YEAR=2026
FMC_DESIGNER=bpgstore
FMC_CNPJ=00.000.000/0000-00
