{% extends 'fmc/base.html' %}
{% block title %}FMC | Trabalhe Conosco{% endblock %}
{% block content %}
    <h1>Trabalhe com a FMC</h1>

    <section class="card" style="padding:18px; max-width:760px; margin:0 auto;">
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_nome_trabalhe">Informe seu Nome</label>
                <input id="id_nome_trabalhe" type="text" name="nome" required>
            </p>
            <p>
                <label for="id_telefone_trabalhe">Telefone Atualizado (WhatsApp)</label>
                <input id="id_telefone_trabalhe" type="text" name="telefone" required>
            </p>
            <p>
                <label for="id_descricao_trabalhe">Fale um pouco de voce</label>
                <textarea id="id_descricao_trabalhe" name="descricao" rows="4" required></textarea>
            </p>
            <button type="submit">Enviar</button>
        </form>
    </section>
{% endblock %}